/******************* BASIC STRUCTRE  ****************/
html, body{
	width: 100%;
}

.full-width{
	width: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.hidden{
	display: none;
}

#timetravel{
	padding-top: 20px;
	text-align: right;
	padding-bottom: 20px;
}